@import "tailwindcss/base";
@import "tailwindcss/components";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 10em;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Cutive Mono', monospace;
  background-color: #000;
  color: white;
}

a {
  color: aquamarine;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.portfolio{
  width: auto;
}

.portfolio:hover{
  border: 30px white;
}

ul {
  list-style-type: none;
}

li{
  margin-top: 1em;
}
li:first-child{
  margin-top: 0;
}

ul{
  margin-top: none;
}
h3{
  margin-block-end:0;
}

.article-content{
  z-index: 20;
  top: 0;
  background-color: #000;
  margin: 0;
}

.content-overlay{
  visibility: hidden;
}
.content-overlay:target{
  visibility: visible;
}
